body{
    background-color: black;
    color: white;
    /* font-family: monospace;
    font-size: 1.5em; */
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

p{
    font-weight: 300;
    font-size: 14px;
}
h1{
    font-weight: 300;
}
h2{
    font-weight: 500;
}
h2.grt1{
    font-weight: 200;
}
hr{
    background-color: white;
}

/* section divider */

.block{
    background: rgba(43, 40, 40, 0.925);
    width: 100vw;
 }

/* ----Start Spacing / Layout Styling---- */
.padding-top-10
{
    padding-top: 10px;
}

.padding-top-20
{
    padding-top: 20px;
}
/* ----End Spacing / Layout Styling---- */


.hide-on-mobile{
    display: none;
}

.menu-icon{

    float: right; 
}



/* .row{
    display: inline-block;
} */


/* header {
    width: 100vw;
    padding: 30px;
} */

/* navbar mobile styling */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 59;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: darkgrey;
    display: block;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
/* header section */
.icon {
    display: inline-block;
    text-align: center;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 3px white;
    font-size: 30px;
    padding-top:2px;  
    font-size: 60px;
    margin-left: 10px; 
    /* margin: 10px; */
}
.all-icons{
    z-index: 100;
}

.icon a{
    color: white;
}

/* .gi{
    z-index: 1;
} */

  /* .bar{
    position: relative;
    left: 14.5em;
    float: left;
    bottom: 1em;
    border: 6px solid white;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
  } */


 .sha{
     color: orangered;
     font-size: 5em;
     margin-top: 40px;
 }

 .bb{
    height: 60vh;
    margin: auto;
 }

 .line{
     color: white;
     border-top: 3px solid white;
     margin: 0 30px;
 }

 .hide{
     background: grey;
     display: block;
     text-align: center;
     color: white;
     height: 100%
 }

 /* .grt{
     font-size: 20em;
     float: left;
 } */

 .grt{
     font-size: 1em;
     color: grey;
     text-align: center;
 }

 .grt1{
    font-size: 400px;
    color: white;
}

 .tagline{
    font-size: 60px;
    text-align: center;
    color: orange;

 }

 .ptag{
    font-size: 60px;
    text-align: center;
    color: grey;

 }

 .Desktop{
     display: none;
 }

 /* start about me section */
 .about{
     color: orange;
     text-align: center;
     font-size: 4em;
 }
 .greyb{
    background: rgba(128, 121, 121, 0.712);
    width: 50vw;
    height: 25vh;
    margin: auto;
 }

 .imgS{
     
     width: 50vw;
     height: 25vh;
     float: right;
     margin-top: 3em;
     margin-right: -3em;
     border: 5px solid white;
     color: white;
     
 }

 .me{
     position: absolute;
     text-align: justify;
     font-size: 2em;
     width: 70vw;
 }

 /* End about me section  */


 .b1{
    height: 118vh;
    margin: auto;
    
 }

 .btn{
    height: 8em;
    width: 40em;
    margin-left: 11em;
    border-radius: 20em;
 }

 .but1{
    background-color: rgba(235, 73, 14, 0.877);
     margin-top: 58em;
 }

 .b2{
    height: 117vh;
    margin: auto;
    
 }

 .imgA{
     width: 50vw;
     height: 25vh;
     margin-left: 16em;
 }

 .butto{
     margin-top: 40em;
 }

 .but2{
    background-color: rgb(145, 141, 141);
     padding-top: 2em;
     margin-left: 12em;
     border-radius: 20em;
     height: 8em;
     width: 38em;
 }

 .but3{
    background-color: orangered;
     margin-top: 3em;
     margin-left: 12em;
     border-radius: 20em;
     height: 8em;
 }

 .block3{
    background: rgba(43, 40, 40, 0.925);
    width: 100vw;
    height: 160vh;
    margin: auto;
    
 }

 .imgADA{
     margin-left: 6em;
     width: 26vw;
     height: 13vh;
 }

 .card-body{
     margin-left: 9em;
     margin-top: -1.5em;
 }

 .boxO{
    background: orangered;
    width: 26vw;
    height: 13vh;
    margin: auto;
    margin-left: 6em;
    margin-top: 0.5em;
}

.tt{
    text-align: center;
}

 .block4{
    background: rgba(43, 40, 40, 0.925);
    width: 100vw;
    height: 100vh;
    margin: auto;
    
 }

 .write{
     width: 70vw;
     height: 6vh;
     margin-left: 15vw;
     background: grey;
     border: solid lightgrey 3px;
 }

 .text{
    width: 70vw;
    height: 18vh;
    margin-left: 15vw;
    background: grey;
    border: solid lightgrey 3px;
 }

 .touch{
     margin-left: 15vw;
     text-align: justify;
     width: 70vw;
 }
/* footer section */
 .foot{
     text-align: center;
     

 }

 .ft{
     color: orangered;
 }

 .ff{
     font-size: 2em;

 }

 .arrow{
     display: none;
 }

 /* .navbar{
     float: right;
 } */

  /* .menu{
      display: none;
  } */
/* general classes */
/* .hide-on-mobile{
    display: none;
} */

/* header section */
/* .block{
    width: 90vw;
    height: 60vh;
    margin: auto;
    text-align: center;
    background: gray;
} */

/* --------------------------------------------------------------media queries */

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // --------------------------------------------------------------Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (orientation: landscape) { 

    
 }

/* // --------------------------------------------------------------Medium devices (tablets) */
@media (min-width: 768px) {
    
    /* general classes */
    /* .mobile-only{
        display: none;
    }
    .tablet-only{
        display: block;
    } */

    /* header section */
    /* .block{
        height: 20vh;
    } */
 }

/* // --------------------------------------------------------------Large devices (ipad pro) */
@media (min-width: 992px) { 
    
 }

/* // --------------------------------------------------------------Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
 }
/* --------------------------------------------------------------Extra large devices landscape */
 @media (min-width: 1200px) and (orientation: landscape) { 
    /* general styles */
    .container-fluid{
        padding: 0 100px;
    }
    .icon {
        float: right;
        font-size: 15px;
        width: 30px;
        height: 30px;
        padding-top:-5px;
        border: solid 1px white;
        

        /* display: inline-block;
        
        color: white;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        
        font-size: 30px;
        padding-top:2px;  
        font-size: 50px;  */
        /* margin: 10px; */
    }

    .sha{
        margin-top: 0;
        color: orangered;
        font-size: 1.8em;
        text-align: center;
    }

    .links{
        display: block;
    }

    .line{
        color: white;
        border-top: 1px solid white;
        opacity: 0.8;
        
    }

    .menu-icon{

    display: none; 
    }

    .show-on-desktop{
        display: block;
    }

    .links{
        display: block;
        margin-top: -4em;
        text-transform: uppercase;
        
    }

    .nav-link{
        color: white;

    }

    .grt1{
        font-size: 100px;
        color: white;
        text-align: center;
        text-emphasis: none;
    }

    .grt{
        font-size: 1em;
        color: grey;
        text-align: center;
    }

    .ptag{
        text-align: center;
        font-size: 20px;
    }

    .tagline{
        font-size: 20px;
    }

    .arrow{
        font-size: 2em;
        color: grey;
        border-radius: 50px;
        border: 1px solid grey;
        width: 40px;
        height: 60px;
        display: block;
        text-align: center;
        font-weight: 5;
        margin-left: 42vw;
        padding: 10px;
        margin-top: 55px;

    }

    .block{
        background: rgba(43, 40, 40, 0.925);
        width: 90vw;
        height: 60vh;
        margin: auto;
     }
    

     .but1{
        display: none;
     }

     /* start about me section */

     .block1{
        background: rgba(43, 40, 40, 0.925);
        height: 80vh;
     }

    .about{
        margin-left: 10em;
        font-size: 2em;
    }

    .greyb{
        background: rgba(128, 121, 121, 0.712);
        width: 20vw;
        height: 40vh;
        margin: auto;
        margin-top: -9em;
        margin-right: 1em;
    }

    .imgS{
    
        width: 20vw;
        height: 40vh;
        margin-top: 3em;
        margin-right: -3em;
        border: 2px solid white;
        color: white; 
    
    }

    .me{
        position: absolute;
        text-align: justify;
        font-size: 14px;
        bottom: -1em;
    } 


     /* icons */

    #myNav{
    display: none;
    }
    ul.desktop-nav{
        list-style: none;
    }
    ul.desktop-nav li{
        display: inline-block;
        margin: 0 20px;
        text-transform: uppercase;
    }
    ul.desktop-nav li a{
        color: white;
    }
    ul.desktop-nav li a.active{
        color:#f7931e;
    }


    .Desktop{
    display: block;
    color: white;
    }  
    .mobile{
    display: none;
    }

    /* graduate section */

    .hide-on-desktop{
        display: none;
    }

    /* end about me section */

     /* general classes */
     /* .tablet-only{
         display: none;
     }
     .desktop-only{
         display: block;
     } */

     /* header section */
     /* .block{
         margin-top: 30vh;
     } */
     /* .red-block{
         background: red;
         width: 10vw;
         height: 10vh;
         margin: auto;
     } */

     /* .nav li {
        float: left;
      }
      .nav li a {
        padding: 20px 30px;
      }
      .nav .menu {
        clear: none;
        float: right;
        max-height: none;
      }
      .nav .menu-icon {
        display: none;
      } */
 }

 /* --------------------------------------------------------------Internet Explorer */
 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
 }


 