body{
    background-color: black;
    color: white;
    /* margin: 0;
    padding: 0; */
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

p{
    font-weight: 300;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;

}
h1{
    font-weight: 300;
}

h2{
    font-weight: 500;
}
h2.grt1{
    font-weight: 200;
}

hr{
    width: 90%;
    border-top: 3px white solid;
    opacity: 0.7;
}

form{
    margin-left: 2em;
}

.dark-grey{
    background: #333333;
}

/* section divider and general classes  */

/* .block{
    background: rgba(43, 40, 40, 0.925);
 } */

 .btn{
    height: 8em;
    width: 40em;
    /* margin-left: 11em; */
    border-radius: 20em;
 }

 .about{
    color: orange;
    text-align: center;
    font-size: 4em;
}

/* ----Start Spacing / Layout Styling---- */
.padding-top-10
{
    padding-top: 10px;
}

.padding-top-20
{
    padding-top: 20px;
}
/* ----End Spacing / Layout Styling---- */

/* start header section */
/* Start social media icons */

.hide-on-mobile{
    display: none;
}

.menu-icon{

    float: right; 
}

.icon {
    display: inline-block;
    text-align: center;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 3px white;
    font-size: 30px;
    padding-top:2px;  
    font-size: 60px;
    margin-left: 10px; 
    /* margin: 10px; */
}
.all-icons{
    z-index: 100;
}

.icon a{
    color: white;
}

/* End social media icons */

/* navbar mobile styling */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 59;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 60px;
    color: white;
    display: block;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 30px;
    right: 45px;
    font-size: 70px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  /* end header section */
/* start name  and line */
 .sha{
     color: orangered;
     font-size: 5em;
     margin-top: 40px;
 }

 .line{
     color: white;
     border-top: 3px solid white;
     margin: 0 30px;
 }

 /* end name  and line */

 /* start intro section */

 .grt{
     font-size: 1em;
     color: grey;
     text-align: center;
 }

 .grt1{
    font-size: 400px;
    color: white;
}

 .tagline{
    font-size: 60px;
    text-align: center;
    color: orange;

 }

 .ptag{
    font-size: 60px;
    text-align: center;
    color: grey;

 }

 .arrow{
    display: none;
}

 /* end intro section */

 .hide{
    background: grey;
    display: block;
    text-align: center;
    color: white;
    height: 100%
}

 .Desktop{
     display: none;
 }

 /* start about me section */

 .greyb{
    background: rgba(128, 121, 121, 0.712);
    width: 50vw;
    height: 25vh;
    margin: auto;
 }

 .imgS{
    width: 50vw;
    height: 25vh;
    float: right;
    margin-top: 3em;
    margin-right: -3em;
    border: 5px solid white;
    color: white; 
 }

 .me{
    position: absolute;
    text-align: justify;
    font-size: 2em;
    width: 70vw;
 }
 
 .but1{
    background-color: rgba(235, 73, 14, 0.877);
    margin-top: 58em;
    margin-left: 11em;
 }

 /* End about me section  */

 /* start graduate section */

 .me1{
    text-align: justify;
    font-size: 2.5em;
    width: 70vw;
    margin-left: 4em;
}

 .imgA{
    width: 50vw;
    height: 25vh;
 }

 .butto{
     margin-top: 7em;
 }

 .but2{
    background-color: rgb(145, 141, 141);
     padding-top: 2em;
     margin-left: 12em;
     border-radius: 20em;
     height: 8em;
     width: 38em;
 }

 .but3{
    background-color: orangered;
     margin-top: 3em;
     margin-left: 12em;
     border-radius: 20em;
     height: 8em;
 }

 /* end graduate section */

 /* start testimonial section */

 .testimonial-img{
    width: 100%;
}

.orange-block{
    background: #eb5e28;
    height: 20em;
}

.orange-block p{
    font-size: 2.3em;
}

.orange-block a i{
    margin-top: 2em;
    color: white;
    font-size: 2.5em;
}

 .imgADA{
     margin-left: 6em;
     width: 26vw;
     height: 13vh;
 }

 .card-body{
     margin-left: 9em;
     margin-top: -1.5em;
 }

.tt{
    text-align: justify;
    width: 70vw;
    margin-left: 12vw;

}

 .write{
     width: 70vw;
     margin-left: 10vw;
     background: grey;
     border: solid lightgrey 3px;
 }

 .text{
    width: 70vw;
    margin-left: 10vw;
    background: grey;
    border: solid lightgrey 3px;
 }
.write input{
    background-color: grey;
    height: 5vh;
    font-size: 2em;
}
.text textarea{
    background-color: grey;
    font-size: 2em;
}
.write ::placeholder{
    color: white;
}
.text ::placeholder{
    color: white
}

.but4{
    background-color: orangered;;
    margin-left: 10em;
    border-radius: 20em;
    height: 8em;
 }
 

  /* testimonals section */
.TestimonalsDiv{
    width: 90vw;
    height: 235vh;
    margin: auto;
    text-align: center;
    background: rgb(41, 40, 40); 
  }
  .card{
    background: rgb(41, 40, 40); 
    border-radius: 0;
    border-width: 0;
  }
.TestimonalsHeading{
      margin-top: 15px;
      font-weight: 400;
      opacity: 1;
  }
  .TestimonalsContent{
      font-size: 14px;
      font-weight: 250;
      line-height: 18px;
      text-align: justify;
      text-size-adjust: 2px;
    
  }
  .TestimonalsContactText{
      font-size: 16px;
      text-align: center;
  }
  .TestimonalsDivs{
    margin-bottom: 20px;
}
  .ContactDiv{
      width: 100%;
      height: 8%;
      background-color:#eb5e28 ;
      color: white;
  }
  a{
    color: white;
  }
  a:hover{
      color:#f7931e;
  }
  .TestimonalImage{
    width: 100%;
    height: 20vh;
  }

/* footer section */
 .foot{
     text-align: center;
     

 }

 .ft{
     color: orangered;
 }

 .ff{
     font-size: 1.5em;

 }


/* --------------------------------------------------------------media queries */

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // --------------------------------------------------------------Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (orientation: landscape) { 

    
 }

/* // --------------------------------------------------------------Medium devices (tablets) */
@media (min-width: 768px) {
    
    /* general classes */
    /* .mobile-only{
        display: none;
    }
    .tablet-only{
        display: block;
    } */

    /* header section */
    /* .block{
        height: 20vh;
    } */
 }

/* // --------------------------------------------------------------Large devices (ipad pro) */
@media (min-width: 992px) { 
    .show-on-desktop {
        display: block;
    }
    .hide-on-desktop {
        display: none;
    }
    .menu {
        display: none;
    }
    .social-icons {
        text-align: right;
    }
}
    
/* // --------------------------------------------------------------Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
 }
/* --------------------------------------------------------------Extra large devices landscape */
 @media (min-width: 1200px) and (orientation: landscape) { 
    .hide-on-desktop{
        display: none;
    }

    .show-on-desktop{
        display: block;
    }
    /* general styles */
    .container-fluid{
        padding: 0 100px;
    }
    .icon {
        float: right;
        font-size: 15px;
        width: 30px;
        height: 30px;
        padding-top:-5px;
        border: solid 1px white;
        

        /* display: inline-block;
        
        color: white;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        
        font-size: 30px;
        padding-top:2px;  
        font-size: 50px;  */
        /* margin: 10px; */
    }

    .sha{
        margin-top: 0;
        color: orangered;
        font-size: 1.8em;
        text-align: center;
    }

    .links{
        display: block;
    }

 /* start about me section */
 
 .greyb{
    background: rgba(128, 121, 121, 0.712);
    
 }

 .imgS{
    width: 50vw;
    height: 25vh;
    float: right;
    margin-top: 3em;
    margin-right: -3em;
    border: 5px solid white;
    color: white; 
 }
 
 .but1{
    background-color: rgba(235, 73, 14, 0.877);
    margin-left: 50em;
    height: 6vh;
    width: 12vw;
 }

 .card-body{
     text-align: justify;
    
 }

 /* End about me section  */

    .menu-icon{

    display: none; 
    }

    .show-on-desktop{
        display: block;
    }

    .links{
        display: block;
        margin-top: -4em;
        text-transform: uppercase;
        
    }

    .nav-link{
        color: white;

    }

    .grt1{
        font-size: 100px;
        color: white;
        text-align: center;
        text-emphasis: none;
    }

    .grt{
        font-size: 1em;
        color: grey;
        text-align: center;
    }

    .ptag{
        text-align: center;
        font-size: 20px;
    }

    .tagline{
        font-size: 20px;
    }

    .arrow{
        font-size: 2em;
        color: grey;
        border-radius: 50px;
        border: 1px solid grey;
        width: 40px;
        height: 60px;
        display: block;
        text-align: center;
        font-weight: 5;
        margin-left: 42vw;
        padding: 10px;
        margin-top: 55px;

    }

     /* .but1{
       
     } */

     /* start about me section */


    .about{
        margin-left: 20em;
        font-size: 2em;
        padding-bottom: 6em;
        height: 1em;
        width: 8em;
    }

    .greyb{
        background: rgba(128, 121, 121, 0.712);
        width: 15vw;
        height: 30vh;
        margin: auto;
        margin-top: -17em;
        margin-right: 10em;
    }

    .imgS{
    
        width: 15vw;
        height: 30vh;
        margin-top: 3em;
        margin-right: -3em;
        border: 2px solid white;
        color: white; 
    
    }

    .me{
        position: absolute;
        text-align: justify;
        font-size: 14px;
        bottom: -1em;
        padding-bottom: 6em;
        left: -3em;
    } 


     /* icons */

    #myNav{
    display: none;
    }
    ul.desktop-nav{
        list-style: none;
    }
    ul.desktop-nav li{
        display: inline-block;
        margin: 0 20px;
        text-transform: uppercase;
    }
    ul.desktop-nav li a{
        color: white;
    }
    ul.desktop-nav li a.active{
        color:#f7931e;
    }

    hr{
        width: 100%;
        border-top: 1px white solid;
        opacity: 0.7;
    }


    .Desktop{
    display: block;
    color: white;
    }  
    .mobile{
    display: none;
    }

     /* start graduate section */

 .me1{
    font-size: 1em;
    margin-left: 40em;
}

 .imgA{
    width: 20vw;
    height: 40vh;
    margin-left: 10em;
    position: relative;
    bottom: 120px; 
 }

 .about{
    position: relative;
    right: 6em;
 }

 .butto{
    margin-left: 40em;
 }

 .but2{
    background-color: rgb(145, 141, 141);
    /* padding-top: 2em; */
    /* margin-left: 12em; */
    border-radius: 20em;
    height: 8em;
    width: 38em;
    font-size: 5px;
 }

 .but3{
    background-color: orangered;
    margin-top: 3em;
    margin-left: 12em;
    border-radius: 20em;
    height: 7em;
    font-size: 6px;
    width: 38em;

 }

 /* end graduate section */


 
.testimonial{
    padding: 5%;
}

    /* end about me section */

     /* general classes */
     /* .tablet-only{
         display: none;
     }
     .desktop-only{
         display: block;
     } */

     /* header section */
     /* .block{
         margin-top: 30vh;
     } */
     /* .red-block{
         background: red;
         width: 10vw;
         height: 10vh;
         margin: auto;
     } */

     /* .nav li {
        float: left;
      }
      .nav li a {
        padding: 20px 30px;
      }
      .nav .menu {
        clear: none;
        float: right;
        max-height: none;
      }
      .nav .menu-icon {
        display: none;
      } */

      .TestimonalsDiv{
        width: 86vw;
        height: 100vh;
      }
      .TestimonalsHeading{
        font-weight: 300;
        text-align: center;
        font-size: 2em;
        width: 20vw;
        margin-top: 8vh;
    }
    .TestimonalImage{
        width: 10vw;
        height: 15vh;
      }
      .ContactDiv{
        width: 10vw;
        height: 15vh;
    }
    .lectureImages{
        width: 10vw;
        height: 15vh;
      }
      .TestimonalsContent{
        margin-left: -15vw;
        width: 20vw;
       
     }
     .firstColums{
         margin-left: -10vw;
     }
     .firstColumsText{
        margin-left: -20vw;
    }
     .secondColums{
        transform: translate(30vw,-80vh);
    }
 }

 /* --------------------------------------------------------------Internet Explorer */
 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
 }


 